*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*box-sizing: border-box significa que a altura e largura do meu elemento será considerada a partir da borda.
é bom zerar margem e padding para o site não ser afetado pelo padrão de diferentes navegadores*/

header{
  position: fixed;
  background-color: #2c3e50;
  height: 81px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mother{
  background-color: #2c3e50;
  width: 95%;
  height: 81px;
  display: flex;
  justify-content: space-around;
}

.logo{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Montserrat';
  padding-top: 25px;
  padding-right: 200px;
}

ul{
  list-style-type: none;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 900;
  font-family: 'Montserrat';
  padding-top: 19px;
  display: flex;
  justify-content: space-between;
}

li{
  margin: 10px;
}

main{
  background-color: #18BC9C;
  color: #FFFFFF;
  font-size: 35px;
  font-weight: 900;
  font-family: 'Montserrat';
  height: 700px;
  padding-top: 81px;
}

.containerMain{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  height: !important;
  margin-top: 100px;
}

p{
  font-size: 25px;
  font-weight: 400;
  font-family: 'Lato';
}

.icon-star{
  font-family: untitled-font-1;
}
