*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*box-sizing: border-box significa que a altura e largura do meu elemento será considerada a partir da borda.
é bom zerar margem e padding para o site não ser afetado pelo padrão de diferentes navegadores*/


header{
  position: fixed;
  background-color: #2c3e50;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerHeader{
  background-color: #2c3e50;
  width: 1280px;
  height: 80px;
  display: flex;
  justify-content: space-around;
}

.logo{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Montserrat';
  padding-top: 25px;
  padding-right: 200px;
}

ul{
  list-style-type: none;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 900;
  font-family: 'Montserrat';
  padding-top: 19px;
  display: flex;
  justify-content: space-between;
}

li{
  margin: 10px;
}

main{
  background-color: #18BC9C;
  color: #FFFFFF;
  font-size: 35px;
  font-weight: 900;
  font-family: 'Montserrat';
  height: 710px;
  padding-top: 81px;
}

.containerMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
}

.containerMain img{
  width: 230px;
  height: 230px;
  margin-top: 100px;
}

p{
  font-size: 25px;
  font-weight: 400;
  font-family: 'Lato';
}


h1{
  margin-top: 20px;
}

.break{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
}

hr{
  height: 6px;
  width: 100px;
  border: none;
}

.light{
  background-color: #FFFFFF;
}

.dark{
  background-color: #2C3E50;
}

.icon-star{
  font-family: untitled-font-1;
}

.portfolio{
  color: #2C3E50;
  font-size: 30px;
  font-family: 'Montserrat';
  height: 795px;
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio h2{
  letter-spacing: -1px;
  font-weight: 800;
  margin-top: 80px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
  height: 500px;
}

.gallery img{
  height: 230px;
  width: 315px;
}

.about{
  background-color: #18BC9C;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Montserrat';
  height: 510px;
  width: 1280px;
  margin: 0 auto;
  padding-top: 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2{
  letter-spacing: -1px;
  font-weight: 800;
  margin-top: 30px;
}

.text{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text p{
  margin-left: 15px;
  width: 310px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 27px;
}

.about button{
  background-color: #18BC9C;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  border: 2px solid;
  border-radius: 5px;
  padding: 8px;
  margin: 30px;
}

.contact{
  color: #2C3E50;
  font-size: 28px;
  font-weight: 900;
  font-family: 'Montserrat';
  height: 802px;
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2{
  letter-spacing: -1px;
  font-weight: 800;
  margin-top: 90px;
}

form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input, textarea{
  color: #495057;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  width: 660px;
  border: none;
  border-bottom: 1px solid #ced4da;
  padding: 30px;
}

form button{
  background-color: #18BC9C;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  margin-top: 85px;
  width: 70px;
  height: 40px;
}

footer{
  background-color: #2C3E50;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Montserrat';
  height: 320px;
}

.containerFooter{
  margin: 0 auto;
  width: 1000px;
  height: 140px;
  padding-top: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.containerFooter h3{
  margin: 20px;
  font-weight: 800;
}

.containerFooter p{
  margin: 30px;
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: 900;
}
.location{
  height: 110px;
  width: 230px;
}

.web{
  height: 110px;
  width: 320px;
}

.web i{
  padding: 10px;
  margin-top: 20px;
  height: 50px;
  width: 50px;
  border: 2px solid;
  border-radius: 50px;
}

.freelancer{
  height: 110px;
  width: 345px;
}
.freelancer span{
  color: #18BC92;
}

.copyright p{
  font-size: 15px;
  text-align: center;
}

.copyright{
  margin: 0 auto;
  margin-top: 120px;
}
